<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> User Portal Page</h1>
<p th:text="' Successful Login! Username of authenticated user is: ' +${#authentication.getPrincipal().getUsername()}"/>
<p th:text="'Your level of authority is: ' + ${#authentication.getPrincipal().getAuthorities()}" />
<div sec:authorize="isAuthenticated()">
    <a th:href="@{/logout}">Logout</a>
</div>
</body>
</html>